{#
 #
 # @license Apache Open Source License 2.0 http://www.apache.org/licenses/LICENSE-2.0
 # @link http://www.brokenopenapp.org/ BrokenOpenApp Home Page for docs and support
 #}

{% macro echo(tokens) %}
	<ol class="breadcrumb">
		{% set lastToken = tokens|last %}
		{% for token in tokens %}
			{% if token==lastToken %}
				<li>{{ token.label }}</li>
			{% else %}
				<li class="active"><a href="{{ token.link }}">{{ token.label }}</a></li>
			{% endif %}
		{% endfor %}
	</ol>
{% endmacro %}

