{#
 #
 # @license Apache Open Source License 2.0 http://www.apache.org/licenses/LICENSE-2.0
 # @link http://www.brokenopenapp.org/ BrokenOpenApp Home Page for docs and support
 #}

{% extends 'JMBTechnologyBrokenOpenAppCoreBundle::base.html.twig' %}

{% block navigation %}
<ul>
    <li><a href="{{ path('_main_dashboard') }}">Dashboard</a></li>
</ul>
{% endblock %}

{% block breadcrumb %}
{% endblock %}