{#
 #
 # @license Apache Open Source License 2.0 http://www.apache.org/licenses/LICENSE-2.0
 # @link http://www.brokenopenapp.org/ BrokenOpenApp Home Page for docs and support
 #}

{% extends 'JMBTechnologyBrokenOpenAppCoreBundle::layout.html.twig' %}

{% import 'JMBTechnologyBrokenOpenAppCoreBundle::breadcrumb.html.twig' as breadcrumb %}
{% block main %}


	{{ breadcrumb.echo([
	{ label: 'Dashboard', link: path('_main_dashboard') },
	{ label: 'Your Account', link: path('account_current_index') }
	]) }}

	<section>
		<h1>Welcome!</h1>
	</section>

<ul>
	<li><a href="{{ path('account_current_change_password' ) }}">Change Password</a></li>
</ul>

{% endblock %}
