{#
 #
 # @license Apache Open Source License 2.0 http://www.apache.org/licenses/LICENSE-2.0
 # @link http://www.brokenopenapp.org/ BrokenOpenApp Home Page for docs and support
 #}

{% extends 'JMBTechnologyBrokenOpenAppCoreBundle::layout.project.html.twig' %}


{% import 'JMBTechnologyBrokenOpenAppCoreBundle::breadcrumb.html.twig' as breadcrumb %}



{% block main %}

	{{ breadcrumb.echo([
	{ label: 'Dashboard', link: path('_main_dashboard') },
	{ label: 'Project ' ~ project.title, link: path('_project_index', {'projectId':project.id}) },
	{ label: 'Your Settings', link: path('_project_usersettings_index', {'projectId':project.id}) }
	]) }}

	<h2>Your settings for this project</h2>

	{%  if userInProject.IsSendNotificationOnNewIssue %}

		<p>Get email for each new issue: Yes</p>

		<form action="" method="post">
			<input type="hidden" name="action" value="setIsSendNotificationOnNewIssueOff">
			<input type="submit" value="Turn Off">
		</form>

	{%  else %}

		<p>Get email for each new issue: No</p>


		<form action="" method="post">
			<input type="hidden" name="action" value="setIsSendNotificationOnNewIssueOn">
			<input type="submit" value="Turn On">
		</form>

	{%  endif %}

{%  endblock %}


