{% extends 'MLabsAcraServerBundle::base.html.twig' %}

{% block navigation %}
<ul>
    <li><a href="{{ path('_main_dashboard') }}">Dashboard</a></li>
</ul>
{% endblock %}

{% block breadcrumb %}
{% endblock %}