{#
 #
 # @license Apache Open Source License 2.0 http://www.apache.org/licenses/LICENSE-2.0
 # @link http://www.brokenopenapp.org/ BrokenOpenApp Home Page for docs and support
 #}

{% extends 'JMBTechnologyBrokenOpenAppCoreBundle::layout.html.twig' %}

{% import 'JMBTechnologyBrokenOpenAppCoreBundle::breadcrumb.html.twig' as breadcrumb %}
{% import _self as fields %}




{% block main %}

	<p>Sorry, This server is NOT set up for ProGuard support</p>

{% endblock %}
